/* color : #80aaff, #74bbf5, #1c7ed6, #1971c2, #339af0, #1c43d0e6, #0483a9, #ab9278 
  Satrt Body
*/

body {
  font-family: 'Roboto', 'sans-serif';
  font-family: 'Almarai', 'sans-serif';
  font-family: 'Tajawal', 'sans-serif';
  font-family: 'Cairo', 'sans-serif';
  background-color: #101214;
  /* overflow: hidden; */
}

::-webkit-scrollbar { width: 7px;}

::-webkit-scrollbar-track { background-color: rgba(16, 18, 20, .4); box-shadow: 0 2px 10px #101214 inset;}

::-webkit-scrollbar-thumb { background-color: rgb(170 130 32 / 50%); border-radius: 30px;}

::-webkit-scrollbar-thumb:hover { background-color: #AA8220;}

#scroll-top
{
  color: #AA8220;
  position: fixed;
  right: 15px;
  bottom: 10px;
  z-index: 9999;
  display: none;
  cursor: pointer
}

#scroll-top:hover {color: #FFF}

/* Start Upper Bar */

/* .upper-bar { background-color: #58a6ff; opacity: 0.9; }

@media (min-width: 992px) {
    .upper-bar .info { padding: 8px; }
}

.upper-bar .info i { color: #0d1117; font-size: 40px;}

.upper-bar .info p { 
    margin-bottom: 0;
    line-height: 2;
    color: #0d1117;
    font-size: 20px;
    letter-spacing: 2px;
}

@media (min-width: 576px) and (max-width: 991px) {
    .upper-bar .info i {
        position: relative;
        top: 20px;
    }
    .upper-bar .info p {
        position: relative;
        bottom: 25px;
    }
} */

/* End Upper Bar */

/* Start Navbar */

.navbar .navbar-brand img{ max-width: 70px; }

.navbar .navbar-toggler.responsive { border: none; box-shadow: none; }

.navbar .offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden !important;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  transition: transform .3s ease-in-out;
}

.navbar .offcanvas .offcanvas-header {display: flex;}

.navbar .offcanvas.show { transform: none; visibility: visible !important;}

.navbar-nav .nav-link {
  font-size: 15px;
  font-weight: bold;
  color: #AA8220 !important;
  text-transform: uppercase;
}

.navbar a:hover,
.navbar .user-icon:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover { color: #FFF !important; }

/************************************
******** Start Offcanvas ********** */

.offcanvas.offcanvas-start { width: 20rem;}

.offcanvas .offcanvas-header {
  display: block !important;
  margin-bottom: 7px;
  border-bottom: 2px dashed #101214 !important;
  background-image: url("../photos/cloud.png") !important;
}

.offcanvas-header .btn-close {
  display: block !important;
  margin-left: auto;
}

.offcanvas .offcanvas-header h5,
.offcanvas .offcanvas-footer .nav-link { color: #EAEAEA; }

.navbar .user-icon,
.offcanvas .user-icon {
  width: 70px;
  height: 70px;
  font-size: 3rem;
  color: #AA8220;
  display: block;
  padding: 18px 0;
  background-color: #212529;
}

.user-icon .log { font-size: 0.7em; }

.offcanvas .offcanvas-body {
  display: flex;
  flex-grow: 0;
  padding: 0;
  overflow-y: visible;
}

.offcanvas .offcanvas-body .nav .accordion-item { width: 20em; background-color: #212529; }

.offcanvas .offcanvas-body .nav .accordion-item .one { background-color: #212529; color: #EAEAEA; }

.offcanvas .offcanvas-body .nav .nav-link {
  width: 100%;
  color: #EAEAEA;
  font-size: 15px;
  background-color: #212529;
}

.accordion-button:focus { z-index: 3; box-shadow: 0 0 0 0 !important; }

.offcanvas .offcanvas-body .nav .nav-link:hover,
.offcanvas .offcanvas-body .nav .accordion-item .one:hover,
.offcanvas .offcanvas-body .nav .accordion-item .one.active,
.offcanvas .offcanvas-body .nav .accordion-item .one[aria-expanded=true],
.offcanvas .offcanvas-body .nav .nav-link.active,
.offcanvas .offcanvas-footer .nav-link:hover {
  color: #aa8220 !important;
  background-color: #101214 !important;
  transition: all 0.3s ease-in-out;
}

.offcanvas .offcanvas-body .nav > .nav-link { padding: 1rem;}

.offcanvas .offcanvas-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 0.3rem 0;
  background-color: #212529;
}

/* تحسين الاستجابة للايقونات تسجيل الدخول و القائمة الصورة الموقع عند التصغير لأصغر شاشة */

@media (max-width: 575px) {
  .navbar .navbar-brand img {
    /* margin-left: 300%; */
    position: relative;
    left: 200px;
  }
  .navbar .side {
    position: fixed;
    top: 15px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .navbar .navbar-brand img {
    /* margin-left: 400%; */
    position: relative;
    left: 320px;
  }
  .navbar .side {
    position: fixed;
    top: 15px;
  }
}

/* End Navbar */

/* Start Login */

.form { background: url(../photos/hotel.jpg) no-repeat center center fixed !important; background-size: cover; }

/* .form .img { width: 550px; border-radius: 20px; margin-top: 50px; } */

.form .overlay { background-color: rgba(0, 0, 0, .4); margin-bottom: 0px;}

.form .login { width: 300px; margin: 70px auto; }

.form .login h4 {color: #AA8220; font-size: xx-large; padding: 10px;}

.form .login input { margin-bottom: 10px; }

.form .login .form-control { background-color: #EAEAEA; box-shadow: none; }

.form .login .btn { background-color: #AA8220; border-color: #AA8220;}

.form .alert-danger {
  color: #EAEAEA;
  background-color: rgba(16, 18, 20, 0.6) !important;
  border-color: #101214;
}

/* End Login */

/* Start Section */

.first, .two, .three {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.first h2 { padding: 15px; }

.overlay { background-color: rgba(0, 0, 0, .2); padding: 30px; margin-bottom: 100px; }

.first{ background: url(../photos/slider01.jpg) no-repeat fixed; }

.first h1 { margin-bottom: 20px; padding: 15px; }

.two{ background: url(../photos/slider02.jpg) no-repeat fixed; }

.two .tw { margin-bottom: 20px; padding: 15px; }

.three{ background: url(../photos/slider03.jpg) no-repeat fixed; }

.three .th { margin-bottom: 20px; padding: 15px; }

/* End Section */

/* Start Footer */

.footer::before { 
  content: '';
  display: block;
  height: 2px;
  background-color: #AA8220;
  margin: 0 20px
}

.footer { background-color: #101214; color: #AA8220; }

@media (max-width: 576px) {
  .footer .content {
    padding: 0 40px;
  }
}

.footer h2 { padding: 15px 0 7px; }

.footer .social-list { overflow:hidden; margin:7px 0 15px}

.footer .social-list li {
  float:left;
  margin-right:3px;
  opacity:0.7;
  transition: all .3s ease-in-out;
}

.footer .social-list li:hover {opacity:1}

.footer .dec a { color: #AA8220; text-decoration: none; }

.footer .dec a:hover {
  color: #EAEAEA;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer .copyright { font-size: 14px; }

/* End Footer */