/* Satrt Body */

:root 
{
  --color-BackgroundBody:#101214;
  --color-BackgroundElement:#212529;
  --color-BoxShadow:#e9e1e126;
  --color-Input:#39393b;
  --color-ScrollbarTrack: #10121466;
  --color-ScrollbarThumb: #aa822080;
  --color-PrimaryText:#AA8220;
  --color-SecondaryText:#EAEAEA;
}

body {
  font-family: 'Roboto', 'sans-serif';
  font-family: 'Almarai', 'sans-serif';
  font-family: 'Tajawal', 'sans-serif';
  font-family: 'Cairo', 'sans-serif';
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-BackgroundBody);
  /* overflow: hidden; */
}

/* Start Scrollbar */

::-webkit-scrollbar { width: 7px;}

::-webkit-scrollbar-track { background-color: var(--color-ScrollbarTrack); box-shadow: 0 0.5rem 1rem var(--color-BoxShadow) inset;}

::-webkit-scrollbar-thumb { background-color: var(--color-ScrollbarThumb); border-radius: 30%;}

::-webkit-scrollbar-thumb:hover { background-color: var(--color-PrimaryText);}

#scroll-top
{
  color: var(--color-PrimaryText);
  position: fixed;
  right: 15px;
  bottom: 10px;
  z-index: 9999;
  display: none;
  cursor: pointer;
}

#scroll-top:hover {color: var(--color-SecondaryText);}

/* Start Navbar */

.navbar .navbar-brand img{ width: 70px; }

.breadcrumb .breadcrumb-link,
.navbar-nav .nav-link { color: var(--color-PrimaryText) !important; }

.breadcrumb .breadcrumb-link:hover,
.breadcrumb .breadcrumb-link.active,
.navbar a:hover,
.navbar .user-icon:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover { color: var(--color-SecondaryText) !important; }

/************************************
******** Start Offcanvas ********** */

.offcanvas.offcanvas-start { width: 20rem;}

.offcanvas .offcanvas-header {
  border-bottom: 2px dotted var(--color-BackgroundBody) !important;
  background-image: url("../photos/cloud.webp") !important;
}

.offcanvas .offcanvas-header h5,
.offcanvas .offcanvas-footer .nav-link { color: var(--color-SecondaryText); }

.navbar .user-icon,
.offcanvas .user-icon {
  width: 70px;
  height: 70px;
  font-size: 3rem;
  color: var(--color-PrimaryText);
}

.offcanvas .offcanvas-body .nav-link {
  width: 100%;
  color: var(--color-SecondaryText);
  background-color: var(--color-BackgroundElement);
}

.offcanvas .nav-link:hover,
.offcanvas .offcanvas-body .nav-link.active {
  color: var(--color-PrimaryText) !important;
  background-color: var(--color-BackgroundBody) !important;
}

.offcanvas .offcanvas-footer { width: 100%; background-color: var(--color-BackgroundElement); }

.ImgLogIn { margin-left: 0 !important;}

@media (max-width: 575.98px) {
  .navbar .side {
    position: fixed;
    top: 15px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .navbar .side {
    position: fixed;
    top: 15px;
  }
}

/* End Navbar */

/* Start Login */

.pageLogin { background: url(../photos/hotel.webp) no-repeat center center fixed !important; background-size: cover; }

.pageLogin .Formlogin { width: 300px; }

.pageLogin .Formlogin .form-control,
.pageLogin .Formlogin .btn:hover,
.pageLogin .Formlogin .btn:focus { box-shadow: 0 0.5rem 1rem var(--color-BoxShadow) inset; }

.pageLogin .Formlogin .btn {
  background-color: var(--color-PrimaryText);
  border-color: var(--color-PrimaryText);
  color: var(--color-BackgroundBody);
}

.Formlogin .form-control,
.pageLogin .alert-danger {
  color: var(--color-SecondaryText) !important;
  background-color: var(--color-BackgroundBody) !important;
  border-color: var(--color-BackgroundBody) !important;
}

.pageLogin .ErrorLogIn { color: var(--color-PrimaryText); }

/* End Login */

/* Start Index Admin */

.statsAdmin .card { transition: all 0.3s ease-in-out; }

/* Customize Box Shadow */
.navBredcrumb,
.statsAdmin .card:hover { box-shadow: 0 0.5rem 1rem var(--color-BoxShadow) !important;}

/* End Index Admin */

/* Start Floors Admin */

.table-customize-floor .responseFloor a:hover,
.table-customize-feature .responseFeature a:hover, /* .DeleteAnyFeature */
.table-customize-employees .responseEmployees a:hover { color: var(--color-SecondaryText) !important; } /* Employee */

.table-customize-floor .ButtonAddFloor:hover,
.table-customize-floor .ButtonRemoveFloor:hover,
.table-customize-floor .ShowFlat:hover,
.table-customize-flat .ButtonFormAddFlat:hover,
.table-customize-feature .ButtonFormFeature:hover,
.table-customize-employees .ButtonFormEmployees:hover {color: var(--color-PrimaryText);}

/* End Floors Admin */

/* Start Add Flat */

/* Customize Input */
.FormNewEmployees input,
.FormNewFeature input,
.FormNewFeature select,
.FormNewFeature textarea,
.settingForm input,
.FormNewFlat input,
.FormNewFlat select { 
  background-color: var(--color-Input) !important;
  color: var(--color-SecondaryText) !important;
  border:none;
}

.FormNewFeature select,
.FormNewFlat select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23FFFFFF'%3E%3Cpath d='M18.2 7.6c-.4 0-.7.1-.9.4L13 12.6c-.5.5-1.4.5-1.9 0L6.8 8c-.3-.2-.6-.4-1-.4-1.1 0-1.7 1.3-.9 2.1l6.2 6.8c.5.6 1.4.6 1.9 0l6.2-6.8c.6-.8 0-2.1-1-2.1z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") !important;
  background-size: 20px 20px !important;
  cursor: pointer;
  pointer-events: painted;
  background-color: var(--color-Input) !important;
}

/* Customize Number */
.FormNewFeature input[type='number']::-webkit-inner-spin-button,
.FormNewFlat input[type='number']::-webkit-inner-spin-button,
.FormNewFlat input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Customize Flie */
.settingForm input[type='file']::-webkit-file-upload-button,
.FormNewFlat input[type='file']::-webkit-file-upload-button { display: none; }

.settingForm .uploadImg,
.FormNewFlat .uploadImg {
  cursor: pointer;
  background: var(--color-Input) !important;
  border: 1px solid var(--color-Input) !important;
  color: var(--color-SecondaryText) !important;
}

/* Customize Modal */
.blur { filter: blur(5px);}

/* End Add Flat */

/* Start Section */

.first, .two, .three {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.first h2 { padding: 15px; }

.overlay { background-color: rgba(0, 0, 0, .2); padding: 30px; margin-bottom: 100px; }

.first{ background: url(../photos/slider01.jpg) no-repeat fixed; }

.first h1 { margin-bottom: 20px; padding: 15px; }

.two{ background: url(../photos/slider02.jpg) no-repeat fixed; }

.two .tw { margin-bottom: 20px; padding: 15px; }

.three{ background: url(../photos/slider03.jpg) no-repeat fixed; }

.three .th { margin-bottom: 20px; padding: 15px; }

/* End Section */

/* Start Footer */

.footer::before { 
  content: '';
  display: block;
  height: 2px;
  background-color: var(--color-PrimaryText);
  margin: 0 20px
}

.footer, .footer a { color: var(--color-PrimaryText); }

.footer .social-list li {
  display: inline-flex;
  opacity:0.7;
  transition: all .3s ease-in-out;
}

.footer .social-list li:hover {opacity:1}

.footer a:hover {
  color: var(--color-SecondaryText);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* End Footer */

.navbar, .offcanvas, .modal-content, .navbar .user-icon, .offcanvas .user-icon,
.offcanvas .offcanvas-body .nav-link,
.offcanvas .offcanvas-footer,
.card{
  background-color: var(--color-BackgroundElement);
}